<%- include('partials/header') -%>

<h1>Compose</h1>
<form action='/compose' method='post'>
    <div class="form-group">
        <label for="post_title">Title [Unique]</label><br>
        <input type="text" class="form-control" name="postTitle" value="" id="post_title"><br>
        <label for="post_body">Post</label><br>
        <textarea name="postBody" class="form-control" cols="30" rows="5" id="post_body"></textarea>
    </div>
    <button type="submit">Publish</button>
</form>    

<%- include('partials/footer') -%>
