<%- include("partials/header")  -%>

<h1>Delete</h1>
<form action='/delete' method='post'>
    <div class="form-group">
        <label for="post_title">Title</label><br>
        <input type="text" class="form-control" name="postTitle" value="" id="post_title"><br>
    </div>
    <button type="submit">Remove</button>
</form>  

<%- include("partials/footer") -%>