<%- include("partials/header") -%>

<h1>Home</h1>
<p><%= startingContent %></p>
<% posts.forEach(function(elem){ %>
    <h1> <%= elem.title %> </h1>
    <p> <%= elem.content.substring(0, 100) + "..." %>
    <a href="post/<%=elem._id%>">Read More</a>
    </p>
<% }) %>

<%- include("partials/footer") -%>
