<%- include("partials/header")  -%>



<h1>Update</h1>
<form action='/update' method='post'>
    <div class="form-group">
        <label for="post_title">Title</label><br>
        <input type="text" class="form-control" name="postTitle" value="" id="post_title"><br>
        <label for="post_body">Post</label><br>
        <textarea name="postBody" class="form-control" cols="30" rows="5" id="post_body"></textarea>
    </div>
    <button type="submit">Update</button><br>
    <label for="">After the clicking update if its keep loading just click on home it will work just fine</label>
</form>   



<%- include("partials/footer") -%>